.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.services-title {
  position: relative;
}

.title {
  font-size: 3em;
  font-weight: 600;
  background: linear-gradient(220deg, #DA7C25 60%, #B923E1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lilita One", sans-serif;
}

.services-title h1{
  font-size: 5em;
  font-weight: 600;
  padding: 0px 30px;
  font-family: "Lilita One", sans-serif;
}

.services-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.services-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid #B923E1;
  transition: 0.4s;
  cursor: pointer;
  background-color: black;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 80px;
  margin: 80px 170px;
}

.services-format h4 {
  font-size: 28px;
  font-weight: 600;
  
}

.services-format h3 {
  font-size: 3em;
  font-weight: 800;
  background: linear-gradient(267deg, #DA7C25 50%, #B923E1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lilita One", sans-serif;
}

.services-format p {
  font-size: 24px;
  line-height: 40px;
  max-width: 500px;
  background: linear-gradient(267deg, #DA7C25 50%, #B923E1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-format:hover {
  border: 2px solid #ff00ff;
  transform: scale(1.05);
  transition: 0.4s;
}

@media (max-width: 500px) {


  .services .services-title h1 {
    font-size: 2.5em;
  }

  .services .services-title img {
    width: 50%;
  }

  .services .title {
    font-size: 2em;
  }
  .services-container {
    grid-template-columns: 1fr;
    width: 80%;
  }

  .services .services-format {
    padding: 20px;
    align-items: start;
  }

  .services .services-format h4 {
    font-size: 20px;
  }

  .services .services-format h3 {
    font-size: 2em;
  }

  .services .services-format p {
    font-size: 16px;
  }

  .services-format p {
    font-size: 20px;
  }
  
}

@media screen and (max-width: 350px){
  .services-container {
    grid-template-columns: 1fr;
    width: 100%;
  }

}
