.footer {
  margin: 80px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-top img {
  
  width: 5em;
  margin-bottom: 1em;
}

.footer-top p {
  font-size: 1em;
  max-width: 400px;
  background: linear-gradient(290deg, #DA7C25 80%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-top-left img {
  width: 4em;
  
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  color:#B923E1
}

.footer-bottom-left {
  display: flex;
  gap: 0.5em;
}

.footer-bottom-right {
  display: flex;
  gap: 1.5em;
  margin-bottom: 50px;
  font-size: 2em;
  
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 40px;
  }

  .footer-top {
    flex-direction: column;
    gap: 20px;
  }

  .footer-top-left {
    justify-content: center;
    flex-direction: row;
    gap: 20px;
  }

  .footer-top-left img {
    width: 3em;
  }

  .footer-email-input {
    padding: 10px 10px;
  }

  .footer-email-input input {
    font-size: 0.8em;
  }

  .footer-subscribe {
    padding: 10px 10px;
    font-size: 0.8em;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    font-size: 0.8em;
  }

  .footer-bottom-right {
    justify-content: center;
    font-size: 2em;
    gap: 1em;
  } 

}