.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: black;
  padding: 2em;
  margin: 80px 170px;
}

.about-testimonials {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: black;
  padding: 2em;
  
}

.about-testimonial {
  display: flex;
  flex-direction: column;
  margin: 3em;
  gap: 30px;
}

.about-testimonial p {
  font-size: 2em;
  font-weight: 700;
  background: linear-gradient(190deg, #DA7C25 50.41%, #B923E1 92.8%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
h2 {
  font-size: 3em;
  font-weight: 500;
  background: linear-gradient(167deg, #DA7C25 30%, #B923E1 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: black;
    padding: 2em;
    margin: 80px 50px;
  }
  
  .about-testimonials {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: black;
    padding: 2em;
    
  }
  
  .about-testimonial {
    display: flex;
    flex-direction: column;
    margin: 3em;
    gap: 30px;
  }
  
  .about-testimonial p {
    font-size: 2em;
    font-weight: 700;
    background: linear-gradient(190deg, #DA7C25 50.41%, #B923E1 92.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
   
  h2 {
    font-size: 3em;
    font-weight: 500;
    background: linear-gradient(167deg, #DA7C25 30%, #B923E1 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: black;
    padding: 2em;
    margin: 80px 50px;
  }
  
  .about-testimonials {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: black;
    padding: 2em;
    
  }
  
  .about-testimonial {
    display: flex;
    flex-direction: column;
    margin: 3em;
    gap: 30px;
  }
  
  .about-testimonial p {
    font-size: 2em;
    font-weight: 700;
    background: linear-gradient(190deg, #DA7C25 50.41%, #B923E1 92.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
   
  h2 {
    font-size: 3em;
    font-weight: 500;
    background: linear-gradient(167deg, #DA7C25 30%, #B923E1 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  
}